/target/

/src/main/resources/persistence-mysql.properties
/src/main/resources/plantillas-reportes-sheets.properties
/src/main/resources/client_secrets.json
/src/main/resources/client_secrets*

/src/main/webapp/resources